<main>
<div>
<header class="headernotindex"><a href="#"><img src="./assets/Multimedia/logo.png" alt="Inicio" height="70" class="img-logo"></a></header>
</div>
<br>
<br>
<hr class="dividir1">
<br>
<br>

<center>
    <div>
    <h2>D칩nde nos encontramos</h2>
    <br>
    <br>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.780700036247!2d-58.63154438554436!3d-34.63498176665847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb8bc768e1ea5%3A0x292c54382e196f96!2sPlaza%20Oeste%20Shopping!5e0!3m2!1ses-419!2sar!4v1660783466771!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
    </div>
<hr class="dividir">
<div>
    <h2 class="h2form">Suscribite y form치 parte de nuestro equipo!</h2>
</div>
<form action="contacto" method="post">
<div class="formulario">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
        <input type="Text" class="form-control" id="exampleFormControlexampleFormControlInput1" placeholder="Name">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Apellido (Opcional)</label>
        <input type="Text" class="form-control" id="exampleFormControlexampleFormControlInput1" placeholder="Last Name">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Fecha de Nacimiento</label>
        <input type="date" class="form-control" id="exampleFormControlexampleFormControlInput1" placeholder="YYYY/MM/DD">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Correo Electr칩nico</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div>
        <button type="submit" value="Enviar Datos" class="btn btn-secondary" onclick="alert('Est치s seguro de mandar el formulario?')" style="border: 2px solid #c4397c;">Enviar</button>
    </div>
</form>
    


</div>
</center>
</main>
